diabetic-reti*
**/Checkpoint
*.pkl
*.jpg
*.jpeg
*.pyc
.vscode/settings.json
fyp/torch_models/*
.ipynb_checkpoints/z_fix_sample-checkpoint.ipynb
fyp/.ipynb_checkpoints/eval_torch-checkpoint.ipynb
fyp/.ipynb_checkpoints/extract_torch_features-checkpoint.py
fyp/.ipynb_checkpoints/preprocess_img-checkpoint.ipynb
fyp/.ipynb_checkpoints/torch_transform-checkpoint.ipynb
fyp/AL/*
fyp/.ipynb_checkpoints/*
fyp/Dual_AL/*
new_all_train_400.zip
fyp/torch_DualAL/*
fyp/torch_models/*
fyp/torch_ao*/*