torch
torchvision
PyYAML
numpy 
pandas 
scikit-learn
tqdm
adabound
scikit-image
opencv-python
jupyterlab
PyYAML


# sudo apt update && sudo apt install -y libsm6 libxext6
# sudo apt-get install -y libxrender-dev